@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #eb8600;
}
::-webkit-scrollbar-track {
  background: #fff;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #ccc;
}
.container {
  width: 90%;
  margin: auto;
}

.btn-org {
  background: #eb8600 !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}
.btn-org:hover {
  background: #393735 !important;
}
.btn-org.btn-border {
  background: none !important;
  color: #eb8600 !important;
  border: 1px solid #eb8600 !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}
.btn-org.btn-border:hover {
  background: #393735 !important;
  color: #fff !important;
  border: 1px solid #eb8600 !important;
}

.btn-lg {
  font-size: 18px;
  padding: 10px 20px !important;
}

.btn-sm {
  font-size: 12px !important;
  padding: 5px 20px !important;
}
.link:hover {
  color: #eb8600;
}

.MuiBadge-badge {
  background-color: #eb8600 !important ;
}
nav button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.9) !important;
}
nav ul button:hover .MuiTouchRipple-root::before {
  background: rgba(0, 0, 0, 0.1) !important;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important ;
  transition: all 0.2s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: black;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #eb8600 !important;
}
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #ffff !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}

.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after {
  font-size: 18px !important;
  color: black;
}
/* HomecatSlider */
.homeCatSlider {
  overflow: inherit !important;
}
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
  font-size: 16px !important;
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* .homeCatSlider .swiper-button-prev{
  left: 0px !important;
}
.homeCatSlider .swiper-button-next{
  right: 0px !important;
} */
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #eb8600 !important;
}
.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: #ffff !important;
}
.homeCatSlider .item:hover img {
  transform: scale(1.1);
}
/* Menu-slider */
.MuiTabs-indicator {
  background-color: #eb8600 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #eb8600 !important;
}

/* Product */

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-right: -15px;
  margin-left: -15px;
}
/* footer */

footer form input::placeholder {
  font-size: 14px !important;
}

/* checkbox */
.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked,
.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #eb8600 !important;
}
.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0 0, 0.8);
}
/* HomesliderV2 */
.swiper-pagination-bullet-active {
  background: #eb8600 !important ;
}
.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .info h4 {
  transition-duration: 1.2s;
}
.homeSliderV2 .info h2 {
  transition-duration: 1.5s;
}
.homeSliderV2 .info h3 {
  transition-duration: 1.8s;
}
.homeSliderV2 .info .btn_ {
  transition-duration: 2.1s;
}

/* Sidebar */
.MuiCheckbox-rooot {
  padding: 6px !important;
}
.ReactCollapse--collapse {
  transition: height 400ms;
}

.itemViewActions button.active svg {
  color: #eb8600 !important;
  opacity: 1;
}

.Mui-selected.MuiPaginationItem-page {
  background-color: #eb8600 !important;
  color: #fff !important;
}
/* ProductZoom */
.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 38px !important;
  padding-bottom: 50px !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-next::after,
.zoomProductSliderThumbs .swiper-button-prev::after {
  transform: rotate(90deg);
}
.zoomProductSliderThumbs .swiper-button-prev {
  top: 20px !important;
  left: 0 !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}
/* Trang Detail Product  */
.productContent .actions button {
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.7);
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.productDetailsModal .MuiDialogContent-root {
  padding: 0px !important;
}
/* Cart in App */
.cartPanel .MuiPaper-root {
  width: 400px !important;
  overflow: hidden;
}

#size-menu .MuiButtonBase-root {
  font-size: 12px !important;
}

/* OTP verify */
.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
  height: 90vh;
  display: flex;
}
#account-menu .MuiPaper-root {
  width: 150px !important;
}

.myAccountTabs li a {
  position: relative;
  display: block;
}

.myAccountTabs li a:before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #eb8600;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.myAccountTabs li a.active::before {
  height: 100%;
  opacity: 1;
  top: 0px;
}

.myAccountTabs li a.active button svg {
  color: #eb8600 !important;
  opacity: 1 !important;
}

button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}
/* Làm Messenger luôn nổi trên giao diện */
#fb-root,
.fb-customerchat,
.fb_dialog,
.fb_dialog_advanced,
.fb_dialog_content,
.fb_dialog_iframe {
  z-index: 999999 !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}
