.bannerBoxV2 {
  height: 195px;         /* Match đúng 100% chiều cao slider */
  width: 100%;
  overflow: hidden;
  border-radius: 14px;
  position: relative;

  /* Fade-in khi load */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.bannerBoxV2:hover .bannerImg {
  transform: scale(1.05);
}

/* Overlay */
.bannerOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.15),
    transparent
  );
  z-index: 4;
}

/* TEXT */
.bannerContent {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  color: white;
}

.bannerContent.left {
  left: 20px;
}

.bannerContent.right {
  right: 20px;
  text-align: right;
}

.bannerTitle {
  font-size: 22px;
  font-weight: 700;
}

.bannerPrice {
  font-size: 18px;
  font-weight: 700;
  color: #eb8600;
}

.bannerBtn {
  padding: 8px 15px;
  background: #eb8600;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 600;
  transition: 0.2s;
}

.bannerBtn:hover {
  background: #d37a00;
}
